<h1 id="tablelabel">tasks view</h1>

<p>this component lists the tasks</p>

<p *ngif="!tasks"><em>loading...</em></p>

<table class='table table-striped' aria-labelledby="tablelabel" *ngif="tasks">
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>description</th>
      <th>datetimeadded</th>
      <th>datetimedeadline</th>
      <th>importance</th>
      <th>state</th>
      <th>datetimecloseat</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngfor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.datetimeadded }}</td>
      <td>{{ task.datetimedeadline }}</td>
      <td>{{ task.importance }}</td>
      <td>{{ task.state }}</td>
      <td>{{ task.datetimeclosedat }}</td>
    </tr>
  </tbody>
</table>

